<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/angular/angular.js"></script>
</head>
<body ng-app="myApp" ng-controller="myControl">

<input type="text" ng-model="name" ng-model-options="{updateOn:'blur',debounce:2000}"/>
<!-- updateOn ör: blur click mouseover -->
<!-- debounce geciktirmeyi sağlar ör: 2sn -> 2000 ms -->

<input type="email" ng-valid ng-model="mail" ng-model-options="{allowInvalid:false}">
<!-- allowInvalid true ve false alır, tip onaylamasını kontrol eder, ng-valid ile beraber kullanılır -->

<p>{{name}}</p>
<p>{{mail}}</p>

<script src="./script.js"/>

</body>
</html>