<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.2/angular-sanitize.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myControl">


<form name="frm">
    <input type="text" ng-model="username" name="username" ng-maxlength="10">
    <p ng-if="!frm.username.$valid">karakter sayısı fazla</p>

    <input type="password" ng-model="password" name="password" ng-minlength="6">
    <p ng-if="!frm.password.$valid">karakter sayısı az</p>

</form>

<script src="./script.js"/>

</body>
</html>